.p-footer{
  color: $text-color;
  background-image: url(../images/common/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(127/1440*100vw);
  width: 100vw;
}

.p-footer__copyright{
  text-align: center;
  padding-top: calc(68.8/1440*100vw);
}